# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.spec.bak

# Virtual environments
venv/
build_venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# App
config.json

# PyInstaller
*.manifest
*.spec.bak
